<center><h1>Products List</h1></center>

<%= form_tag("/static/search", method: "get") do %>
  <div id="sidebar-wrapper-left">
    <ul class="sidebar-nav">
      <nav class="navbar navbar-default">
        <li>
          <a>Memory Size</a>
          <%= collection_check_boxes :filter, :mem, @memorys, :strip, :strip, checked: (params[:filter][:mem] unless params[:filter].nil?) do |b| %>
            <div class="collection-check-box">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </li>

        <li>
          <a>Graphic card brand</a>
          <%= collection_check_boxes :filter, :brand, @brands, :strip, :strip, checked: (params[:filter][:brand] unless params[:filter].nil?) do |b| %>
            <div class="collection-check-box">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </li>

        <li>
          <a>Graphic card processor brand</a>
          <%= collection_check_boxes :filter, :c_brand, @c_brands, :strip, :strip , checked: (params[:filter][:c_brand] unless params[:filter].nil?) do |b| %>
            <div class="collection-check-box">
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </li>
        <center><%= submit_tag("Search") %></center></br>

      </nav>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <center><h2>Product List</h2></center>
    <center><%= submit_tag("Update comparing List") %></br></center>
    <tbody>
      <ul class="products">
        <% @products.each do |p|%>
          <tr><li>
              <td><%= image_tag p.image, size: "150x150" %></td></br>
              <td><%= p.title %></td></br>
              <td style="color:red" ><%= "$" + [p.price_amazon, p.price_bestbuy, p.price_newegg].reject{ |p| p.nil? }.min.to_s %></td></br>
              <td class="rate" ><%= "Rating: " + p.rate.to_s %></td></br>
              <td><%= check_box_tag "compares[]", p.id, params[:compares] != nil && params[:compares].include?(p.id.to_s) %></td>
              <td><%= "add to compare" %></td></br>
              <td><%= link_to 'Show Detail', p %></td>
              </br>
          </li></tr>
        <% end %>
      </ul>
    </tbody>
  </div>
<% end %>

<div id="sidebar-wrapper-right">
  <ul class="sidebar-nav">
    <nav class="navbar navbar-default">

      <tbody>
        <center><h3>Compare List</h3></center>
        <% if params[:compares] != nil %>
          <% params[:compares].each do |p_id| %>
            <tr>
              <th><%= image_tag Product.find(p_id).image, size: "50x50" %></th>
              </br><th><strong><%= Product.find(p_id).title %></strong></th></br></br>
            </tr>
          <% end %>
          <center><%= link_to "Compare", {controller: "static", action: "compare", compares: params[:compares]} %></center></br>
        <% end %>
      </tbody>

    </nav>
  </ul>
</div>
