@import "bootstrap-sprockets";
@import "bootstrap";

/* Sidebar Styles */

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999999;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper-left {
  position: fixed;
  height: 100%;
  left: 270px;
  margin-left: -250px;
  overflow-y: auto;
}

#sidebar-wrapper-right {
  position: fixed;
  height: 100%;
  right: 280px;
  margin-right: -250px;
  overflow-y: auto;
  text-align: center;
}

#page-content-wrapper {
  left: 290px;
  right: 290px;
  position: absolute;
  padding: 15px;
  overflow-y: hidden;
}

ul.products li {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  text-align: center;
}

td
{
  text-align: center;
  vertical-align: middle;
}

th
{
  text-align: center;
  vertical-align: middle;
}

.price {
  color: orange;
}

.red {
  color: red;
}

.rate {
  color: green;
}
