<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :p_speed %><br>
    <%= f.text_field :p_speed %>
  </div>
  <div class="field">
    <%= f.label :m_speed %><br>
    <%= f.text_field :m_speed %>
  </div>
  <div class="field">
    <%= f.label :memory %><br>
    <%= f.text_field :memory %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :chip_brand %><br>
    <%= f.text_field :chip_brand %>
  </div>
  <div class="field">
    <%= f.label :price_amazon %><br>
    <%= f.text_field :price_amazon %>
  </div>
  <div class="field">
    <%= f.label :price_newegg %><br>
    <%= f.text_field :price_newegg %>
  </div>
  <div class="field">
    <%= f.label :price_bestbuy %><br>
    <%= f.text_field :price_bestbuy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
