<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @review.model %>
</p>

<p>
  <strong>User name:</strong>
  <%= @review.user_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
